---
layout: default
title: Home
body_classes: page-home
header_classes: header-transparent
heroHeading: "Growth Through Empathy"
heroSubHeading: "Do you want to grow your brand awareness and learn how to gain more customers by leveraging empathy?"
heroBackground: ""
heroBackgroundOverlay: false
heroHeight: 400
heroDiagonal: true
heroDiagonalFill: "#f4f5fb"
meta_title: "Growth Through Empathy"
meta_description: "Do you want to grow your brand awareness and learn how to gain more customers by leveraging empathy?"
meta_og_title: "Growth Through Empathy"
meta_og_type: website
meta_og_url: "https://growththroughempathy.com/"
meta_og_image: "https://growththroughempathy.com/assets/images/GrowthThroughEmpathy-social.png"
meta_og_description: "Do you want to grow your brand awareness and learn how to gain more customers by leveraging empathy?"
---

<!-- Hero Image Partial-->
{% include hero-image.html background=null fullscreen=page.heroFullscreen
height=page.heroHeight heading=page.heroHeading subheading=page.heroSubHeading
overlay=page.heroBackgroundOverlay diagonal=page.heroDiagonal
diagonalfill=page.heroDiagonalFill %}

<div class="strip strip-grey">
  <div class="container pt-2">
    <div class="row">
      <div class="col-12">
        <img
          alt="Webinar promotional image"
          src="assets/images/GTE.com banner.png"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</div>

<!-- Splash One -->
{% if site.params.homepage.show_splash_section_one %}
<div class="strip strip-grey pt-5 splash splash-one">
  <div class="container">
    <div class="row">
      <div
        class="col-12 {% if site.params.homepage.splash_one_image %}col-md-5{% else %}col-md-12{% endif %} pb-4"
      >
        {% if site.params.homepage.splash_one_heading %}
        <h2>{{ site.params.homepage.splash_one_heading }}</h2>
        {% endif %} {% if site.params.homepage.splash_one_paragraph %}
        <p>{{ site.params.homepage.splash_one_paragraph }}</p>
        {% endif %} {% if site.params.homepage.splash_one_link_url %}
        <a
          class="button d-none d-md-inline-block"
          href="{{ site.params.homepage.splash_one_link_url | relative_url }}"
        >
          {{ site.params.homepage.splash_one_link_text }}
        </a>
        {% endif %}
        <h3 class="mt-3">Also join the conversation on our Facebook page</h3>
        <p>
          This is a community where we can share marketing and conversion
          expertise and ask AJ and Jennifer questions and hear from our other
          resident experts.
        </p>
        <a
          class="btn btn-outline-primary"
          href="https://www.facebook.com/groups/growththroughempathy/"
          >Join the Group</a
        >
      </div>
      {% if site.params.homepage.splash_one_image %}
      <div
        class="col-12 col-md-5 offset-md-1 work-summary"
        style="margin-bottom: 60px; margin-right: 20px;"
      >
        <!-- Calendly inline widget begin -->
        <div
          class="col-12 calendly-inline-widget"
          data-url="https://calendly.com/experimentzone/growth-through-empathy-free-marketing-webinar?hide_event_type_details=1&primary_color=1c3ed3"
          style="min-width: 320px; height: 500px;"
        ></div>
        <script
          type="text/javascript"
          src="https://assets.calendly.com/assets/external/widget.js"
        ></script>
        <!-- Calendly inline widget end -->
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}

<!-- Partners -->
{% if site.data.partners.size > 0 and site.params.homepage.show_partners %}
<div class="strip strip-white home-partners">
  <div class="container pt-md-5 pb-5">
    <div class="row">
      <div class="col-12">
        <div class="partners">
          {% for partner in site.data.partners %} {% if partner.image %}
          <div class="partner">
            <a href="{{ partner.urlLink | relative_url }}">
              <img
                alt="{{ partner.title }} logo"
                src="{{ partner.image | relative_url }}"
                style="{{ partner.imgHeight }}"
              />
            </a>
          </div>
          {% endif %} {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

<!-- Services -->
{% assign services = site.services | where: "featured", true | sort:'weight' %}
{% if services.size > 0 and site.params.homepage.show_services_section %}
<div class="strip strip-grey pb-4 pt-6">
  <div class="container d-none d-md-block">
    <div class="row justify-content-center">
      <div class="col-12">
        <h2 class="text-center mb-3">Free Resources</h2>
      </div>
      {% for service in services limit: 4%}
      <div class="col-12 col-md-6 col-lg-6 mb-2">
        <div class="service service-summary">
          {% if service.icon %}
          <div class="service-image">
            <img src="{{service.icon | relative_url}}" />
          </div>
          {% endif %}
          <div class="service-title">
            <h2>
              <a href="{{ service.urlLink }}">{{ service.title }}</a>
            </h2>
          </div>
          <div class="service-description">
            <p>{{ service.description }}</p>
          </div>
          <div class="service-content">
            {{ service.content | truncate: 220 }}
          </div>
          <div class="service-link">
            <a
              class="service-read-more"
              href="{{ service.urlLink | relative_url}}"
              >Sign Up<i class="fas fa-long-arrow-alt-right ml-1"></i
            ></a>
          </div>
        </div>
      </div>
      {% endfor %}
      <!-- <div class="col-12 text-center">
        <a
          class="button button-primary text-center"
          href="{{ 'services' | relative_url }}"
          >View All Services</a
        >
      </div> -->
    </div>
  </div>
  <div class="container d-block d-md-none">
    <div class="row justify-content-start">
      <div class="col-12">
        <h2 class="text-center mb-3">Free Resources</h2>
      </div>
    </div>
    <div class="slider">
      {% for service in services limit: 2%}
      <div class="service service-summary">
        {% if service.icon %}
        <div class="service-image">
          <img src="{{service.icon | relative_url}}" />
        </div>
        {% endif %}
        <div class="service-title">
          <h2>
            <a href="{{ service.url | relative_url}}">{{ service.title }}</a>
          </h2>
        </div>
        <div class="service-description">
          <p>{{ service.description }}</p>
        </div>
        <div class="service-content">{{ service.content | truncate: 220 }}</div>
        <div class="service-link">
          <a class="service-read-more" href="{{ service.url | relative_url}}"
            >Sign Up<i class="fas fa-long-arrow-alt-right ml-1"></i
          ></a>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row">
      <!-- <div class="col-12 text-center">
        <a
          class="button button-primary mt-2"
          href="{{ 'services' | relative_url }}"
          >View All Services</a
        >
      </div> -->
    </div>
  </div>
</div>
{% endif %}

<!-- Work Section -->
{% assign works = site.work | where: "featured", true | sort:'weight' %} {% if
works.size > 0 and site.params.homepage.show_work_section %}
<div class="home-work strip strip-grey">
  <div class="container pt-4 pb-4">
    <div class="row">
      <div class="col-12">
        <h2 class="text-center mb-3">
          {{ site.params.homepage.work_section_heading }}
        </h2>
      </div>
    </div>
    <div class="row justify-content-between">
      {% for work in works %}
      <div class="col-12 col-md-6 mb-2">
        <div class="work work-summary">
          {% if work.image %}
          <div class="work-image">
            <a href="{{ work.urlLink | relative_url}}"
              ><img src="{{ work.image | relative_url}}"
            /></a>
          </div>
          {% endif %}
          <div class="work-title">
            <h2>
              <a href="{{ work.urlLink | relative_url}}">{{ work.title }}</a>
            </h2>
          </div>
          <div class="work-meta">
            {% if work.clientName %}<span>{{work.clientName}}</span> | {% endif
            %} {% if work.clientType %}<span>{{work.clientType}}</span>{% endif
            %}
          </div>
          {% if work.description %}
          <div class="work-description">
            <p>{{ work.description }}</p>
          </div>
          {% endif %}
          <div class="work-content">{{ work.content | truncate: 150 }}</div>
          <div class="work-link">
            <a class="work-read-more" href="{{ work.urlLink | relative_url }}"
              >Learn More<i class="fas fa-long-arrow-alt-right ml-1"></i
            ></a>
          </div>
        </div>
      </div>
      {% endfor %} {% if site.params.homepage.show_view_all_work_button %}
      <div class="col-12 pt-4 text-center">
        <a class="button button-primary" href="{{ 'work' | relative_url }}"
          >View All Work</a
        >
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endif %} {% include guest-speaker-form.html
heading=site.params.guest-speaker-form.heading
subheading=site.params.guest-speaker-form.subheading %}

<div class="strip strip-secondary">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1000 100"
    preserveAspectRatio="none"
  >
    <path class="svg-white" d="M738,99l262-93V0H0v5.6L738,99z"></path>
  </svg>
</div>

<script
  type="text/javascript"
  src="{{ site.baseurl }}/assets/js/libs/slick.min.js"
></script>
<script
  type="text/javascript"
  src="{{ site.baseurl }}/assets/js/pages/home.js"
></script>
