<div class="container">
  <div class="row justify-content-center mt-5 mb-5">
    <div
      class="col-10 col-md-8 team-summary justify-content-center strip-secondary p-3 text-center"
    >
      <h2>
        Be a featured brand on Growth Through Empathy:
      </h2>
      <h2>
        The Marketing Webinar Series
      </h2>
      <div class="_form_19 mt-5 mb-1 ml-1"></div>
      <div class="_form_25 col-12"></div>
      <script
        src="https://experimentzone.activehosted.com/f/embed.php?id=25"
        type="text/javascript"
        charset="utf-8"
      ></script>
    </div>
  </div>
</div>
